<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Demo</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
   

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/assets/css/style.css" rel="stylesheet">
 <style>
    .super{
        width:100%;
     }
    
     .form{
        margin-left:100px;
         margin-right:100px;
     }
    
    </style>
</head>

<body>
    <div class="super">
         
        <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="/" class="scrollto"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#contact">Contact Us</a></li>
            <li><a href="/login" class="btn-get-started scrollto">Login</a></li> 
        </ul>
           
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
     <!--   <div class="container">
          <div class="row position">
  <div class="col-md-6 offset-md-3">
<h2>Login</h2>
<form method="post" action="/login">
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email Address">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>   
</form>
              </div>
</div>
             
            </div> -->
        <section id="intro" class="clearfix">
        <div class="container">
           
          <div class="row ">
            <div class="col mr-6">
                <h1>For Hire</h1><br>
                <h >What is Lorem Ipsum?Lorem Ipsum is simply dummy<br> text of the printing and typesetting industry. Lorem Ipsum <br>has been the industry's standard dummy text ever since the<br> 1500s,</h><br><br>
                <a class="btn btn-primary" href="/reg_corp">Register</a><br><br>
                <h>Have account? <a href="/login">Login</a></h>
            </div>
            <div class="col">
                <h1>For Work</h1><br>
                <h >What is Lorem Ipsum?Lorem Ipsum is simply dummy<br> text of the printing and typesetting industry. Lorem Ipsum <br>has been the industry's standard dummy text ever since the <br>1500s,</h><br><br>
                <a  class="btn btn-primary" href="reg_student" >Register</a><br><br>
                <h>Dont have account? <a href="/login">Login</a></h>
            </div>
          </div>
        </div>
        </section>
    </div>
 

   <script src="/assets/lib/jquery/jquery.min.js"></script>
  <script src="/assets/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/lib/easing/easing.min.js"></script>
  <script src="/assets/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/assets/lib/wow/wow.min.js"></script>
  <script src="/assets/lib/waypoints/waypoints.min.js"></script>
  <script src="/assets/lib/counterup/counterup.min.js"></script>
  <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/assets/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/assets/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>
 

</body>
</html>
